<a href="/" class="logo">cinch</a>

<div class="container">
	<div class="row top-30">
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="department-container">
				<h1>Title</h1>
				<tbody>
					<tr id="form-row">
						<form id="department-form">
							<input placeholder="Enter your Post" id="post-name" type="text" />
					</tr>
					<h2>Description</h2>
					<td>
						<textarea id="post-description-input" row="10" cols="30" placeholder="Enter a Description for you Post"></textarea>
						<br>
						<button id="create-post-button" class="btn btn-success">Create Post</button>
					</td>
					</form>
				</tbody>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/department.js"></script>