 <div class="logo">cinch</div>

        <div class="container">
		<div class="row top-30">
			<div class="col-md-2 col-sm-2">
			</div>
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-default" href="/">Home Page</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="department-container">
					<h1>Title</h1>
                    <input id="create-post-input">
                    <h2>Description</h2>
                    <textarea row="10" cols="30"></textarea>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script><script src="/js/department.js"></script>
