<!DOCTYPE html>
<html>

<head>
    <title>Passport with Sequelize</title>
</head>

<body>
    <header class="container">
        <div class="logo">cinch</div>
        <nav>
            <ul>
                <li class="highlighter"><a href="/logout">Log Out</a></li>
            </ul>
            <a href="/createpost">Create new Post</a>
        </nav>
    </header>
    <div class="containerDash">
        <h2>Dashboard</h2>
        <h5>Hurray! you are logged in.</h5>
    </div>
</body>

</html>