<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Cinch</title>
</head>

<body>
    <header class="container">
        <div class="logo">cinch</div>

        <div class="container">
		<div class="row top-30">
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-default" href="/blog">Go to Blog</a>
			</div>
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-default" href="/">Home Page</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="department-container">
					<h1>Departments</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Department</th>
								<th># of Items</th>
								<th>Department Items</th>
								<th>New Item</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="department-form">
									<td colspan="4">
										<input placeholder="Enter a Department" id="department-name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create Department</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>