
        <div class="logo">cinch</div>

        <div class="container">
		<div class="row top-30">
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-default" href="/blog">Go to Blog</a>
			</div>
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-default" href="/">Home Page</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="department-container">
					<h1>Departments</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Department</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="department-form">
									<td colspan="4">
										<input placeholder="Enter a Department" id="department-name" type="text" />
									</td>
									<td><button id="create-department-button" class="btn btn-success">Create Department</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script><script src="/js/department.js"></script>
