<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          {{#each item}}
          <h5 class="card-title">Posts from {{text}}</h5>
        
          <p>
            <strong>Posting Title</strong>: {{item}}</p>
          <p>
            <strong>Description:</strong>{{description}}</p>
            <hr>
            {{/each}}
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
